.content {
    padding: 40px 20px;
    background-color: #fff;
    color: #333;
  }
  
  .content h3 {
    font-size: 2rem;
    color: #e8bb1a;
    margin-bottom: 15px;
  }
  
  .content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  