.header {
    background-color: #e8881a;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  .header p {
    margin: 0;
    font-size: 1.5rem;
  }
  
  